body{
    background: #272C3C;
}

/* Main container */
.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

/* Stock container */
.stock-container{
    /* display: flex; */
    width: 75%;
    padding-top: 6%;
    margin: 0 auto;
}


/* Stock container img */
#stock-container-img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* Ending date */
.dl{
    /* margin-right: auto; */
    flex-basis:40%;
}



/* Ending date */
.dr{
    /* margin-left: auto; */
    flex-basis:40%;

}

.height{

    height: 100vh;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{
    box-shadow: none;
    border:none;
}