body{
    background: #272C3C;
}

/* Main container */
.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

/* Stock container */
.stock-container{
    /* display: flex; */
    width: 75%;
    padding-top: 1em;
    margin: 0 auto;

    position: relative;
    align-items: center;
    justify-content: center;
}


/* Stock container img */
#stock-container-img {
    /* display: flex; */
    /* flex-shrink: 0; */
    /* min-width: 100%;
    min-height: 100% */
    position: relative; 
    width: 65%;
    /* height: 75%; */
    left: 50%;
    transform: translateX(-50%);
    /* max-width: 100%;
    /* margin: auto; */ 

}

.text-date{
    font-size: 1.25em;
    color: #acbca4;
}



/* Ending date */
.dl{
    /* margin-right: auto; */
    flex-basis:40%;
}



/* Ending date */
.dr{
    /* margin-left: auto; */
    align-content: flex-end;
    flex-basis:40%;
    position: absolute;
    right: 0;
}

.height{
    height: 100vh;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{
    box-shadow: none;
    border:none;
}


th{
    text-align: center;
}
table,
td {
    border: 1px solid #333;
    background-color: #d4a4ac;
}

.news-container{
    margin: 5em auto;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;

}

.news-container{
    display:flex;
    justify-content: center;
}

#t1{
   flex-basis: 53%;
}

#t2{
    flex-basis: 23%;
}

#search-box{
    flex-basis: 10%;
}