body{
    background: #272C3C;

}

/* Main container */
.main-container {
    max-width: 95%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  

/* Stock container */
.stock-container{
    display: grid;
    width: 55%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:"a1 a1" "a2 b2";
}



/* Stock container img */
#stock-container-img {
    background-color:red;
    display:grid;
    align-content:center;
    justify-content:center;
    color:white;

    width: 200%;

    grid-area: a1;

}

.text-date{
    font-size: 1.25em;
    color: #acbca4;
}



/* Ending date */
.dl{
    background-color:purple;

    grid-area: a2;
}



/* Ending date */
.dr{
    background-color:red;
    text-align: right;
    grid-area: b2;
}




.height{
    height: 100vh;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{
    box-shadow: none;
    border:none;
}


th{
    text-align: center;
}
table,
td {
    border: 1px solid #333;
    background-color: #d4a4ac;
}

.news-container{
    margin: 5em auto;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;

}

.news-container{
    display:flex;
    justify-content: center;
}

#t1{
   flex-basis: 53%;
}

#t2{
    flex-basis: 23%;
}

#search-box{
    flex-basis: 10%;
}